grant {
  permission java.io.FilePermission "repo/-", "read";
  permission java.lang.RuntimePermission "canCreateModuleLoader";
  permission java.util.PropertyPermission "*", "read";
  permission java.util.PropertyPermission "*", "write";
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.lang.RuntimePermission "accessClassInPackage.com.sun.*";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "createSecurityManager";
  permission java.net.SocketPermission "*", "connect,resolve";
};